<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ecommerce</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assetsimages/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assetsimages/apple-touch-icon.png">
     <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
     <link rel="stylesheet" href="/assets/css/style.css">
     <link rel="stylesheet" href="/assets/css/responsive.css">
     <link rel="stylesheet" href="/assets/css/custom.css">
 

</head>

<body>
<div class="top-search">
<div class="container">
   <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="Search">
    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
   </div>
</div>
</div>
<div id="slides-shop" class="cover-slides">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="m-b-20"><strong>{{'home.text1'|translate}} <br></strong></h1>
                <p class="m-b-40">{{'home.text2'|translate}}</p>
                <p><a class="btn hvr-hover" href="#">{{'home.text3'|translate}}</a></p>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.superslides.min.js"></script>
<script src="/assets/js/bootstrap-select.js"></script>
<script src="/assets/js/inewsticker.js"></script>
<script src="/assets/js/bootsnav.js."></script>
<script src="/assets/js/images-loded.min.js"></script>
<script src="/assets/js/isotope.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/baguetteBox.min.js"></script>
<script src="/assets/js/form-validator.min.js"></script>
<script src="/assets/js/contact-form-script.js"></script>
<script src="/assets/js/custom.js"></script>
